
<mat-sidenav-container class="app-container" *ngIf="authService.isAuthenticated()">
  
  <mat-sidenav #sidenav mode="side" opened>
    <mat-toolbar color="primary">Expenses Tracker</mat-toolbar>

    <div class="user-profile">
      <img [src]="userPicture" alt="User Picture" class="profile-picture" />
      <span class="user-name">{{ userName }}</span>
    </div>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="sidenav.toggle()">
        <img src="assets/dashboard3.png" alt="Dashboard" class="icon"> Dashboard
      </a>
      <a mat-list-item routerLink="/expenses" routerLinkActive="active-link" (click)="sidenav.toggle()">
        <img src="assets/expense1.png" alt="Expenses" class="icon"> Expenses
      </a>
      <a mat-list-item routerLink="/income" routerLinkActive="active-link" (click)="sidenav.toggle()">
        <img src="assets/income1.png" alt="Income" class="icon"> Income&Savings  <img src="/assets/savings.png" alt="Savings" class="icon">
      </a>
      <a mat-list-item routerLink="/reports" routerLinkActive="active-link" (click)="sidenav.toggle()">
        <img src="assets/reports1.png" alt="Reports" class="icon"> Reports
      </a>
      <a mat-list-item routerLink="/categories" routerLinkActive="active-link" (click)="sidenav.toggle()">
        <img src="assets/categories1.png" alt="Categories" class="icon"> Categories
      </a>
      <a *ngIf="authService.getIsAdmin()" mat-list-item routerLink="/admin" routerLinkActive="active-link" (click)="sidenav.toggle()">
        <img src="assets/admin.png" alt="Admin" class="icon"> Admin
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="active-link" (click)="sidenav.toggle()">
        <img src="assets/settings1.png" alt="Settings" class="icon"> Settings
      </a>
      <a mat-list-item routerLink="/help" routerLinkActive="active-link" (click)="sidenav.toggle()">
        <img src="assets/help1.png" alt="Help" class="icon"> Help
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle sidenav">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Expenses Tracker</span>
      <span class="spacer"></span>
      
      <div class="notifications-button buttons">
        <button mat-icon-button matBadge="{{ notificationsCount }}" matBadgeColor="accent" (click)="toggleNotifications()">
          <mat-icon>notifications</mat-icon>
        </button>
      </div>
      <div class="toggle-button buttons">
        <button mat-icon-button (click)="toggleTheme()">
          <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
        </button>
      </div>
      <div class="logout-button buttons">
        <button mat-icon-button (click)="logout()"><mat-icon>logout</mat-icon></button>
      </div>

    </mat-toolbar>

   
    <div class="content" >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="showLogoutWarning" class="logout-warning">
  <mat-card>
    <mat-card-title>Session Expiring Soon</mat-card-title>
    <mat-card-content>
      <p>Your session will expire in {{ logoutCountdown }} seconds. Please save your work!</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="logout()">Logout Now</button>
    </mat-card-actions>
  </mat-card>
</div>


<div *ngIf="!authService.isAuthenticated()">
  <router-outlet></router-outlet>
</div>

<!-- Notifications Component -->
<div *ngIf="showNotifications">
  <app-notifications></app-notifications>
</div>
